.App{
  background-color: rgb(218, 171, 171);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top:5%;
}
.main{
  background-color: rgb(166, 133, 220);
  border: 3px solid white;
  border-radius: 10px;
  
}
.add-todo{
  
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding:8px 8px 0px;
}

.add-todo>input{
  color: brown;
  height: 40px;
 
}
.add-todo>button{
  color: blue;
 padding: 10px;
 background-color: white;
 border: none;

}

.todos{
  display: flex;
  flex-direction: row;
  background-color: chartreuse;
  height: 50px;
  width:450px;
  margin-top: 20px;
  justify-content: space-between;
  border: 2px solid black;
  border-radius:3px;
  margin-bottom: 2px;
  
}
.display-todo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column ;
  width: 100%;
  background-color: rgb(153, 149, 211);
}



.todo-completed{
  color:blue;
}
.input{
  width: 400px;
}
.ticInput{
  width: 40px;
}